.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: center;
  width: 90%;
  display: grid;
  grid-template-columns: 0.5fr 12fr 2fr;
  grid-template-areas: "logo left right";
}

.footer_logo {
  grid-area: logo;
}

.footer_left {
  grid-area: left;
}

.footer_right {
  grid-area: right;
}

.footer img {
  width: 2em;
  filter: invert(100%);
}
