.footer {
  margin: 1em auto 1em auto;
  align-items: center;
  width: 95%;
  display: grid;
  grid-template-columns: 0.5fr 12fr 2fr;
  grid-template-areas: "logo left right";
}

.footer img {
  width: 2em;
  filter: invert(100%);
}
