.gameItem img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.gameItem__description {
  display: grid;
}

.gameItem__price_buy {
  font-size: x-large;
  margin: 0.1em 0 0.1em 0;
}

.gameItem__price {
  float: left;
  font-weight: 200;
}

.gameItem__buy_button {
  font-size: x-large;
  float: right;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.gameItem__genre_name {
  float: left;
}
