.header {
  margin: 1em auto 1em auto;
  align-items: center;
  width: 95%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 5fr 0.5fr;
  grid-template-areas: "logo sub nav userbar";
}

.header__subscription {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  grid-area: sub;
}

.header__nav {
  grid-area: nav;
}

.header__nav__link {
  margin: 1.5em;
  color: white;
  text-decoration: none;
}

.header__userbar {
  display: flex;
  grid-area: userbar;
}

.header img {
  width: 3em;
  filter: invert(100%);
}
